<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="frontend.css">
    <title>ArenaSB</title>
</head>
<body>
    <header>
        <h1></h1>
        <div align="middle"><img src="ArenaLogoRed.png" alt="ArenaLogoRed" align="middle" style="width:200px;height:50px;"></div>
    </header>
    <div class="container">
        <div class="lists">
            <ul id="game-list">
                <h2>Games:</h2>
                <!-- Foreach item in games render the li -->
            </ul>
            <ul id="league-list">
                <h2>Leagues:</h2>
                <!-- Foreach item in leagues render the li -->
            </ul>
            <ul id="tournament-list">
                <h2>Tournaments:</h2>
                <!-- Foreach item in tournaments render the li -->
            </ul>
        </div>
        <nav>
            <a href="directory.html" class="short, hovercolor">Back</a>
        </nav>
    </div>
    <script>
        // Populated with dummy data until they get set correctly by our Java code
        var g = ['No Games'];
        var l = ['No Leagues'];
        var t = ['No Teams'];

        function dataTransfer(games, leagues, tournaments) {
            g = games;
            l = leagues;
            t = tournaments;
            
            g.forEach(element => {
                var item = document.createElement("LI");
                var itemName = document.createTextNode(element);
                item.appendChild(itemName);
                document.getElementById("game-list").appendChild(item);
            });

            l.forEach(element => {
                var item = document.createElement("LI");
                var itemName = document.createTextNode(element);
                item.appendChild(itemName);
                document.getElementById("league-list").appendChild(item);
            });

            t.forEach(element => {
                var item = document.createElement("LI");
                var itemName = document.createTextNode(element);
                item.appendChild(itemName);
                document.getElementById("tournament-list").appendChild(item);
            });
        }
    </script>    
</body>