<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="frontend.css">
    <title>ArenaSB</title>
</head>
<body>
    <header>
        <h1>ArenaSB</h1>
    </header>
    <div class="container">
        <div class="lists">
            <ul id="game-list">
                <h2>Games:</h2>
                <!-- Foreach item in games render the li -->
                <li>Test</li>
                <li>Test</li>
                <li>Test</li>
            </ul>
            <ul id="league-list">
                <h2>Leagues:</h2>
                <!-- Foreach item in leagues render the li -->
                <li>Test</li>
                <li>Test</li>
                <li>Test</li>
            </ul>
            <ul id="tournament-list">
                <h2>Tournaments:</h2>
                <!-- Foreach item in tournaments render the li -->
                <li>Test</li>
                <li>Test</li>
                <li>Test</li>
            </ul>
        </div>
        <nav>
            <a href="directory.html" class="short">Back</a>
        </nav>
    </div>
    <script>
        function dataTransfer(games, leagues, tournaments) {
            var gameList = document.getElementById("game-list");
            var leagueList = document.getElementById("league-list");
            var tournamentList = document.getElementById("tournament-list");
            
            
        }
    </script>    
</body>