html,body {
  color: hsl(0, 0%, 95%) !important;
  background: hsl(0, 0%, 15%) !important;
  height: 100%;
}

body {
  min-height: 100%;
}

h1.title {
  border-bottom: 1px solid hsl(0, 0%, 95%);
  padding: 10px;
}

p.description {
  font-size: 15px;
  margin-top: 30px;
}

.nav {
	width: 100%;
	text-align: left;
	margin: 30px 0px;
}

a.nav-btn {
  border: 1px solid hsl(0, 0%, 95%);
  color: hsl(0, 0%, 95%);
  border-radius: 5px;
  padding: 5px 10px;
  text-decoration: none !important;
  transition: all .2s ease;
}
a.nav-btn:hover {
  background: hsl(0, 0%, 95%);
  color: hsl(0, 0%, 15%);
}

.forms-wrap {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
}

form {
	min-width: 25%;
}

p.form-title {
	width: 100%;
}

input {
	background: hsl(0, 0%, 20%);
	border-radius: 5px;
	padding: 10px 20px;
	outline: none;
	border: none;
	width: 100%;
}


