<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<!-- Import Stylesheet -->
<link rel="stylesheet" href="application.css">

<!-- Bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- Viewport tag -->
<meta name=viewport content="width=device-width, initial-scale=1">

</head>
<body>
  <div class="container">
    <h1 class="title text-center">ArenaSB</h1>
    <div class="below-header">
      <h2 class="page-title">Create New Items:</h2>
    </div>
    <div class="nav">
      <a href="index.html" class="nav-btn">Home</a>
    </div>
  </div>
</body>
</html>