<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<!-- Import Stylesheet -->
<link rel="stylesheet" href="application.css">

<!-- Bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- Google Fonts -->
<!-- <link href="https://fonts.googleapis.com/css?family=Saira+Semi+Condensed" rel="stylesheet"> -->

<!-- Viewport tag -->
<meta name=viewport content="width=device-width, initial-scale=1">

</head>
<body>
  <div class="container">
    <h1 class="title text-center">ArenaSB</h1>
    <p class="description text-center">A multi-user system for organizing and conducting tournaments. It provides an infrastructure for operating an arena, including registering new games and players, organizing tournaments, and keeping track of the players scores.</p>
    <div class="nav">
      <a href="create.html" class="nav-btn">Create</a>
    </div>
  </div>
</body>
</html>